<h1 class="font-weight-light">Fixed Full Page Background Image</h1>
<p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>
<p class="lead">Scroll down...</p>
<div style="height: 700px"></div>
<p class="lead mb-0"> You ve reached the end! </p>

