<h1><%= @gossip.title %></h1>
<br>
<h2> Le contenu </h2><br>
<p> <%= @gossip.content %> </p>

<br>

<h2> Date de création </h2><br>
<p> <%= @gossip.created_at %> </p>

<a class="btn btn-primary" href="/author/<%= @gossip.user_id %>">Découvrir l'auteur</a>