<h1>Bienvenue <%= @first_name%> !</h1>

<p>Ici c'est notre super site de potins, il est chouette, non ? New !! Show </p>


<a class="btn btn-primary" <%= link_to "Voir les gossips !", gossip_index_path()%></a>