<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->

  <h1 class="my-4" style="text-align: center">La page de la Team !</h1>
  <br>

  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a ><img class="card-img-top" src="https://images.unsplash.com/photo-1558203728-00f45181dd84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <p style="text-align: center">Julien</p>
          </h4>
          <p class="card-text" style="text-align: center" >CEO</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a ><img class="card-img-top" src="https://images.unsplash.com/photo-1551836022-d0b54d686dd0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <p style="text-align: center">Véronique</p>
          </h4>
          <p class="card-text" style="text-align: center">CFO</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a ><img class="card-img-top" src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <p style="text-align: center">Thibault</p>
          </h4>
          <p class="card-text" style="text-align: center">CTO</p>
        </div>
      </div>
    </div>
  <!-- /.row -->



</div>
<!-- /.container -->
<div style="height: 300px"></div>
<p class="lead mb-0"> </p>
